/*
 *  Colors
 */

// Colors
$black:        hsl(0, 0%, 4%) !default
$black-bis:    hsl(0, 0%, 7%) !default
$black-ter:    hsl(0, 0%, 14%) !default

$grey-darker:  hsl(0, 0%, 21%) !default
$grey-dark:    hsl(0, 0%, 29%) !default
$grey:         hsl(0, 0%, 48%) !default
$grey-light:   hsl(0, 0%, 71%) !default
$grey-lighter: hsl(0, 0%, 86%) !default

$white-ter:    hsl(0, 0%, 95%) !default
$white-bis:    hsl(0, 0%, 98%) !default
$white:        hsl(0, 0%, 100%) !default

$orange:       hsl(14,  100%, 53%) !default
$yellow:       hsl(48,  100%, 67%) !default
$green:        hsl(141, 71%,  48%) !default
$turquoise:    hsl(171, 100%, 41%) !default
$blue:         hsl(217, 71%,  53%) !default
$purple:       hsl(271, 100%, 71%) !default
$red:          hsl(9, 81%, 55%) !default

$primary: hsl(9, 81%, 55%) !default

$info: $blue !default
$success: $green !default
$warning: $yellow !default
$danger: $red !default

$light: $white-ter !default
$dark: $grey-darker !default

$color-background: rgb(240,235,225);
$background: $color-background;
$color-text: rgb(90,31,24);
$text: $color-text;
$text-strong: $color-text !default
$border: $grey-lighter !default

$light: $white-ter !default
$dark: $grey-darker !default

// Invert colors
$orange-invert: $white !default
$yellow-invert: $black !default
$green-invert: $white !default
$turquoise-invert: $white !default
$blue-invert: $white !default
$purple-invert: $white !default
$red-invert: $white !default

$primary-invert: $turquoise-invert !default
$info-invert: $blue-invert !default
$success-invert: $green-invert !default
$warning-invert: $yellow-invert !default
$danger-invert: $red-invert !default
$light-invert: $dark !default
$dark-invert: $light !default

// Link colors
$link: $primary !default
$link-hover: $orange !default

// Code colors
$code: $red !default
$code-background: $background !default
$pre: $text !default
$pre-background: $background !default
/*
 *  padding & spacing
 */
$padding-desktop: 32px;
$padding-mobile: 8px;

/*
 *  Fonts
 */
$family-sans-serif: 'EB Garamond', serif;
$family-monospace: 'monospace';
$weight-normal: 500;

$size-1: 3rem !default
$size-2: 2.5rem !default
$size-3: 2rem !default
$size-4: 1.5rem !default
$size-5: 1.25rem !default
$size-6: 1rem !default
$size-7: 0.75rem !default

$weight-light: 300 !default
$weight-normal: 400 !default
$weight-semibold: 600 !default
$weight-bold: 700 !default


// Responsiveness
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 40px
$desktop: 1000px !default
// 1152px container + 40
$widescreen: 1192px !default
// 1344px container + 40
$fullhd: 1384px !default

// Typography
$family-primary: $family-sans-serif !default
$family-code: $family-monospace !default

$size-small: $size-7 !default
$size-normal: $size-6 !default
$size-medium: $size-5 !default
$size-large: $size-4 !default

////////////////////////////////////////////////
////////////////////////////////////////////////
// 4. Lists and maps

$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        //"danger": ($danger, $danger-invert)
        //"primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
) !default

$shades: (
        "black-bis": $black-bis,
        "black-ter": $black-ter,
        "grey-darker": $grey-darker,
        "grey-dark": $grey-dark,
        "grey": $grey,
        "grey-light": $grey-light,
        "grey-lighter": $grey-lighter,
        "white-ter": $white-ter,
        "white-bis": $white-bis
) !default

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default



//"success": ($success, $success-invert),
//"warning": ($warning, $warning-invert),
