@import "abstracts/settings";
@import "abstracts/mixins";

html {
  background-color: $white-ter;
}
body {
  font-family: 'Permanent Marker', cursive;
  line-height: 1.45;
  font-style: italic;
  font-weight: $weight-normal;
  background-color: $white;
  color: $black;
  margin: 0 auto;
  font-size: 20px;
}
p {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.is-size-2 {
  font-size: 2.6rem;
}

.font1 {
  font-family: 'Sedgwick Ave Display', cursive;
}
.font {
  font-family: 'Molle', cursive;
}
.font3 {
  font-family: 'Schoolbell', cursive;
}
.font4 {
  font-family: 'Gochi Hand', cursive;
}
.font5 {
  font-family: 'Rock Salt', cursive;
}
.font6 {
  font-family: 'Permanent Marker', cursive;
}

